/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/genomicrelatedness -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    //input  = params.pipelines_testdata_base_path + 'genomicrelatedness/samplesheet/samplesheet_test.csv'
    input  = '/home/thomas/repositories/nf-core/test-datasets/data/samplesheet.csv'
    fasta  = '/home/thomas/repositories/nf-core/test-datasets/data/reference_genome.fna'
    //def fasta_base  = params.pipelines_testdata_base_path + 'genomicrelatedness/'
    //def fasta = fasta_base + 'NC_044995.1_Panubis1.0_Chr20.fna'
    fasta  = '/home/thomas/repositories/nf-core/test-datasets/data/reference_genome.fna'
    target_number_of_interval_files = 2
    bootstrapping_rounds = 1
    skip_relatedness_estimation = true
}
